@font-face {
  font-family: "DS-Digital";
  src: url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#DS-Digital")
      format("svg");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
