@font-face {
  font-family: "DS-Digital";
  src: url("fonts/DS-DIGI.woff") format("woff"),
    url("fonts/DS-DIGI.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-effect {
  filter: drop-shadow(0 0 1px #3a3) drop-shadow(0 0 2px #3a3);
}
